<h1 class="text-center mb-5">Details</h1>


<div class="row">
  <div class="col-6">
      <img src="{{apiUrl}}/images/products/{{product.image}}" alt="{{product.name}}" class="img-thumbnail">
  </div>
  
  <div class="col-6">
    <h3>{{product.name}}</h3>
    <h4>R$ {{product.price}}</h4>
    <p><strong>Description:</strong><br>
    {{product.description}}
  </p>
  
    <p><strong>Liked? Send to your e-mail:</strong></p> 
    <form [formGroup]="formulario" class="form-inline" (ngSubmit)="sendEmail()">
      <input type="email" class="form-control mb-2 mr-sm-2" formControlName="Email" >
      <button type="submit" class="btn btn-primary mb-2">Send</button>
    </form> 
    

  
  <p>
    <strong>Retailer: </strong>
    <a href="retailers/{{product.retailer.retailer_id}}">{{product.retailer.name}}</a>
  </p>

  </div>
</div>